
AbsoluteBasics.WpfMvvm/.vs/AbsoluteBasics.WpfMvvm/DesignTimeBuild/.dtbcache
AbsoluteBasics.WpfMvvm/.vs/AbsoluteBasics.WpfMvvm/v15/.suo
AbsoluteBasics.WpfMvvm/.vs/AbsoluteBasics.WpfMvvm/v15/Server/sqlite3/db.lock
AbsoluteBasics.WpfMvvm/.vs/AbsoluteBasics.WpfMvvm/v15/Server/sqlite3/storage.ide
AbsoluteBasics.WpfMvvm/.vs/AbsoluteBasics.WpfMvvm/v15/Server/sqlite3/storage.ide-shm
AbsoluteBasics.WpfMvvm/.vs/AbsoluteBasics.WpfMvvm/v15/Server/sqlite3/storage.ide-wal
